ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a{
    height: 16em;
    width: 18em;
    border: 1px solid whitesmoke;
    border-radius: 1em;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}


li a:hover{
    opacity: 0.9;
    cursor: pointer;
}
.content{
    padding: .5em 1em;
    position: relative;
}

.name{
        font-size: 20px;
}

.favourite{
    position: absolute;
    top: .5em;
    right: 1em;
    color: red;
}

.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cook-time{
    font-size: .8em;
}
small{
    display: flex;
    justify-content: center;
    align-items: center;
}