<div class="container">
    <div class="image">
        <img [src]="food.imageUrl" width="200px" class="product__img"  [alt]="food.name">
    </div>

    <div class="details">
        <div class="header">
            <h2 class="name">{{ food.name }}</h2>
        </div>

        <div class="origins">
            <span *ngFor="let origin of food.origins">{{ origin}}</span>
        </div>
            
        <div class="tags">
            <app-tags [foodPageTags]="food.tags" justifyContent="start"></app-tags>
        </div>

        <div class="cook-time">
            <small>Time to prepare about: {{ food.cookTime}}</small>
        </div>

        <div class="price">
            <span>Price: {{ food.price|currency }}</span>
        </div>

        <button (click)="addToCart()" class="cart_btn">Add To Cart</button>
       
    </div>
</div>
